body {

    width: 300px;
    margin: 15px
}

.btnCl {
    text-align: center;
    margin-top: 20px
}

.btnCl button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 700;
    border: none;
    background: rgb(108, 19, 160);
    color: #fff;
    height: 30px;
    outline: none;
    padding: 4px 15px;
    border-radius: 4px;
    cursor: pointer
}

.con-ad {
    background: #e8ccf91f;
    border-radius: 4px;
    padding: 5px 10px
}

.title-ad {
    font-size: 14px;
    color: rgb(108, 19, 160);
    display: inline-block;
    margin-bottom: 20px
}

.btnUrlFb {
	background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: 700;
    border: 2px solid rgb(108, 19, 160);
    border-radius: 4px;
    float: right;
    padding: 2px;
    color: rgb(108, 19, 160);
    cursor: pointer
}

.switch-ad {
    float: right;
    position: relative;
    bottom: 3px
}

.mes-ad {
    font-size: 14px;
    color: #606266;
    display: inline-block;
    margin-bottom: 20px
}

.num-ad {
    color: rgb(108, 19, 160);
    font-size: 20px;
    font-weight: 500;
    float: right;
    position: relative;
    bottom: 4px
}

.num-div {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px
}

.ad-div {
    padding: 20px;
    padding-bottom: 10px
}

img {
    width: 300px;
    height: 100px;
}