* {
    font-family: Roboto, Helvetica, Arial, sans-serif
}

.aviso {
    display: none
}

.topo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button.current {
    color: #fff;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.results {
    font-weight: 700;
    color: rgb(62, 19, 87)
}

.banner {
    background-image: url('img/MinerADS.png');
    width: 350px;
    height: 100px
}

a {
    text-decoration: none;
    text-align: right;
    }

.login {
    margin: 0;
    padding: 0;
}

.btn {
    background-color: rgb(160, 81, 202);
    border-color: rgb(160, 81, 202);
}

.btn:hover {
    background-color: rgb(60, 9, 90);
    border-color: rgb(60, 9, 90);
}

.conteudo {
    padding: 15px;
}

.contents {
    text-align: center;
    font-family: 'Roboto';
}

.contents h1 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.ferramentas-content a {
    padding: 15px 25px;
    background-color: rgb(160, 81, 202);
    border: 1px solid rgb(160, 81, 202);
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.ferramentas-content a:hover {
    background-color: rgb(60, 9, 90);
    border-color: rgb(60, 9, 90);
}

.ferramentas-content p {
    margin-top: 25px;
}