* {
    font-family: Roboto, Helvetica, Arial, sans-serif
}

.aviso {
    display: none
}

.topo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button.current {
    color: #fff;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.results {
    font-weight: 700;
    color: rgb(62, 19, 87)
}

.banner {
    background-image: url('img/MinerADS.png');
    width: 350px;
    height: 100px
}

a {
    text-decoration: none;
    text-align: right;
    }

.funcionalidade {
        text-align: center;
}

.funcionalidade a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 15px;
    background-color: rgb(62, 19, 87);
    border: 1px solid rgb(47, 8, 69);
    border-radius: 8px;
}

.funcionalidade p {
    margin-top: 10px;
}